{% extends "Task/base.html" %}
{% block content %}
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Delete Task</legend>
                    <h2>Are you sure you want to delet the Task "{{ object.title }}"</h2>
                </fieldset>  
                <div class="form-group">
                    <button type="submit" class="btn btn-ouline-danger">Yes, Delete</button>
                    <a type="submit" class="btn btn-outline-secondary" href="{% url 'task-detail' object.id %}">Cancel</a>
                </div>
            </form>
        </div>
{% endblock content %}